<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Group Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Blood Group Prediction from Image</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <label for="file">Upload an Image:</label>
            <input type="file" name="file" id="file" required>
            <button type="submit">Predict Blood Group</button>
        </form>
    </div>
</body>
</html>
